<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Management System Dashboard</title>
  </head>
  <body>
    <div id="dashboard-container" style="margin-top: 100px">
      <div id="dashboard-content" class="card">
        <h1 *ngIf="session.admin">Welcome {{ session.admin.username }}</h1>
        <h1 *ngIf="session.user">Welcome {{ session.user.username }}</h1>
        <div id="dashboard-header">Patient Management System</div>
        <p>
          Welcome to the Patient Management System dashboard. This system helps
          you efficiently manage and track patient information, appointments,
          and medical records.
        </p>
        <p>
          Our Patient Management System is designed to enhance the efficiency of
          healthcare providers, <br />
          improve patient care, and contribute to the overall success of your
          practice. <br />
          Explore the navigation menu to discover the full range of features and
          unlock the potential of<br />
          seamless patient management.
        </p>
         
        <div>
          <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#form"
            *ngIf="session.user"
          >
            Book now!
          </button>
        </div>
      </div>

      <!-- <div id="dashboard-appointments" class="card">
      
      <p id="appointments-info">
        Cardiology:<br> <strong>Dr. Ernest Smith</strong>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#bookModal">Book Now</button></td>
        Psychology:<br> <strong>Dr. Annie Young</strong>
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#bookModal">Book Now</button></td>
        Psychology:<br> <strong>Dr. Annie Young</strong>
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#bookModal">Book Now</button></td>
     
    </div> -->
    </div>

    <form
      #f="ngForm"
      (ngSubmit)="onSubmit()"
      class="modal fade"
      tabindex="-1"
      id="form"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Patient Booking Form</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="Name form-floating mb-3">
            <input
              ngModel
              name="patient_name"
              type="text"
              class="form-control"
              id="Name"
            />
            <label for="floatingInput">Patient name:</label>
          </div>

          <div class="Age form-floating mb-3">
            <input
              ngModel
              name="patient_age"
              type="number"
              class="form-control"
              id="Age"
            />
            <label for="floatingInput">Patient age:</label>
          </div>

          <div class="Sex form-floating mb-3">
            <input
              ngModel
              name="patient_sex"
              type="text"
              class="form-control"
              id="Age"
            />
            <label for="floatingInput">Patient sex:</label>
          </div>

          <div class="Appointment form-floating mb-3">
            <input
              ngModel
              name="appointment"
              type="email"
              class="form-control"
              id="Appointment"
              placeholder="name@example.com"
              type="datetime"
            />
            <label for="floatingInput">Appointment</label>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </form>

    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 250px;
      "
    >
      <div id="card1-container">
        <div id="card-content" class="cards">
          <div id="card1-header"></div>
          <img
            src="https://th.bing.com/th/id/R.b0831a461107a205d0711c8f21137231?rik=%2fn1pIVzGUF%2fdEg&riu=http%3a%2f%2fdoctorwellsnaturalhealth.com%2fwp-content%2fuploads%2f2014%2f09%2fDr-Wells-dreamstime_xl_13011820.jpg&ehk=M3AdOuBK1d4Zgax2QQBpXkpOT3TPI%2bg4FNBguWtbKoY%3d&risl=1&pid=ImgRaw&r=0"
            alt="Card Image"
            style="width: 95%; max-width: 200px; height: 200"
            class="center"
          />
          <h4><strong>Dra. Annie Young</strong></h4>
          <h5>Department of Obstetrics and Gynecology</h5>
          <p>Gynecologist</p>
        </div>
      </div>
      <div id="card2-container">
        <div id="card-content" class="cards">
          <div id="card2-header"></div>
          <img
            src="https://th.bing.com/th/id/R.366d6f78dbe03d7fda7f966431b9e06a?rik=QpuR47SIxmIMug&riu=http%3a%2f%2fpreemploymentscreen.com%2fwp%2fwp-content%2fuploads%2f2014%2f11%2fMedical-Doctor.jpg&ehk=l3f%2bOt%2fy2%2fi4HKbt8IdTY3gvIM1edx17Iw9kXW1Um%2b8%3d&risl=&pid=ImgRaw&r=0"
            alt="Card Image"
            style="width: 90%; max-width: 200px; height: 200"
            class="center"
          />
          <h4><strong>Dr.Ernest Smith</strong></h4>
          <h5>Department of Psychology</h5>
          <p>Psychologist</p>
          
        </div>
      </div>
      <div id="card3-container">
        <div id="card-content" class="cards">
          <div id="card3-header"></div>
          <img
            src="https://th.bing.com/th/id/R.e1f9fbb76284b16c42d32fbe508698ee?rik=9HEdKCHa7PUB9g&riu=http%3a%2f%2fimages.wisegeek.com%2fmale-doctor.jpg&ehk=HVdilikQk8VopsLlAKYz5%2beS%2bGspTiA8%2f0eKhKZMa4s%3d&risl=&pid=ImgRaw&r=0"
            alt="Card Image"
            style="width: 90%; max-width: 200px; height: 200"
            class="center"
          />
          <h4><strong>Dr. Ben Williams</strong></h4>
          <h5>Department of Oncology</h5>
          <p>Oncologist</p>
        </div>
      </div>
      <div id="card4-container">
        <div id="card-content" class="cards">
          <div id="card3-header"></div>
          <img
            src="https://th.bing.com/th/id/OIP.mb2tsQu2Vj8Hd5hPTmLq2gAAAA?w=338&h=507&rs=1&pid=ImgDetMain"
            alt="Card Image"
            style="width: 90%; max-width: 200px; height: 200"
            class="center"
          />
          <h4><strong>Dra. Jane Clarkson</strong></h4>
          <h5>Department of Pediatrics</h5>
          <p>Pediatrician</p>
        </div>
      </div>
    </div>
  </body>
</html>
